<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Basic Details</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row" id="isVisibleDutyStatus">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Duty Status
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDutyStatus">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="isVisibleDepartment">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Department
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDepartment">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Type of Injury
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanTypeInjury">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Type of Accident
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanTypeAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Body Areas Affected
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanBodyAreasAffected">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 scrollerheightcomments">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Immediate Action Taken
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0 scroller px-0" id="divImmediateActionTaken">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Accident Information</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Date of Accident
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDateOfAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Date Reported
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDateReported">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Accident Reported To
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAccidentReportedTo">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Area Supervisor
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAreaSupervisor" class="txt-blue">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Area Supervisor Rank
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAreaSupervisorRank">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 scrollerheightcomments">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Comments
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0 scroller px-0" id="divComment">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-4 col-lg-4 col-xl-4" id="isVisibleCrewInjuredPerson">
    <div class="common-custom-card event-height-equal mb-0">
        <div class="counters-heading border-none">
            <div>
                <span>Injured Person</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Work Hours Before Accident
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanWorkHoursBeforeAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Rest Hours Before Accident
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanRestHoursBeforeAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Days Onboard Ship
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanDaysOnboardShip">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Time with Company
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanTimeWithCompany" class="txt-blue">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Time in Rank
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanTimeRank">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                PPE Worn
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="PPEWorn">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0 mb-0">
                                Normally wears spectacles
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters mb-0">
                                <span id="spanNormallySpectacles">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="isVisibleCrewSpectacle">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0 mb-0">
                                Were Spectacles Worn
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters mb-0">
                                <span id="spanWereSpectaclesWorn">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-4 col-lg-4 col-xl-4" id="isVisibleThirdPartyInjuredPerson">
    <div class="common-custom-card event-height-equal mb-0">
        <div class="counters-heading border-none">
            <div>
                <span>Injured Person</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Injured Persons Company Name
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanInjuredPersonsCompanyName">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Days Onboard Ship
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanThirdPartyDaysOnboardShip">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                PPE Worn
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanThirdPartyPPEWorn">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0">
                                Occupation
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters">
                                <span id="spanOccupation">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0 mb-0">
                                Normally wears spectacles
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters mb-0">
                                <span id="spanThirdPartyNormallySpectacles">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="isVisibleThirdPartySpectacle">
                        <div class="col-6 col-md-6 col-lg-8 col-xl-6">
                            <div class="dashboard-counters-label mr-0 mb-0">
                                Were Spectacles Worn
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 col-xl-6">
                            <div class="dashboard-counters mb-0">
                                <span id="spanThirdPartyWereSpectaclesWorn">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>