<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div id="accidentleftcolumn" class="accident-height-equal">
        <div class="common-custom-card">
            <div class="counters-heading border-none">
                <div>
                    <span>Basic Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Report Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnReportDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Accident Date & Time
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanAccidentDateTime">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Closed Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanClosedDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Safety Officer
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSafetyOfficer" class="txt-blue text-break">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Classification
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanClassification">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigation Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigationDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigator’s Name
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigatorName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigator’s Rank
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigatorRank">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Last Changed
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanLastChanged">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Created By
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanCreatedBy" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Parent Report
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanParentReport">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Master
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanMaster" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Actual Severity
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanActualSeverity" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isPassengerAccidentVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Cruise No.
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanCruiseNo">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isPassengerAccidentVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    PAX No.
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanPaxNo">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    LogBook Entry Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanLogBookEntryDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Work Related
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanWorkRelated">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="common-custom-card">
            <div class="counters-heading border-none">
                <div>
                    <span>Location Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin text-break">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Vessel Location
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanVesselLocation">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isManoeuvringVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Manoeuvring
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanManeuvering">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isPortVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Port
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanPort">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isPortVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Dock Name
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanDockName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row isLongLatVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Latitude
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanLatitude">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row isLongLatVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Longitude
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanLongitude">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row isLocationLookupLabelVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0" id="divLocationLookupLabel">
                                    -
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanLocationName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row isShowShipsOpsRelatedVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Accident Related to Ship's Operation
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanAccidentShipOperation">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Where
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanWhere">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0" id="divShipLocationLabel">
                                    Location Onboard
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanLocationOnboard">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Light
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters mb-0">
                                    <span id="spanLight">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row isShowOtherShipLocationVisible">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0 mb-0">
                                    Specify
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters mb-0">
                                    <span id="spanSpecify">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div id="accidentRightcolumn" class="accident-height-equal">
        <div class="common-custom-card" id="rightcolumnDescription">
            <div class="counters-heading border-none">
                <div>
                    <span>Description</span>
                </div>
            </div>
            <p id="spanDescription" class="open-sans-font details-common scroller px-0 scrollerautoheight" style="height:100px">- </p>
        </div>
        <div class="common-custom-card isHSEQManagerCommentsVisible" id="rightcolumnComments">
            <div class="counters-heading border-none">
                <div>
                    <span>HSEQ Manager Comments</span>
                </div>
            </div>
            <p id="spanHSEQManagerComments" class="open-sans-font details-common scroller px-0 scrollerautoheight">

            </p>
        </div>
        <div class="common-custom-card isFleetManagerCommentsVisible"  id="rightcolumnManager">
            <div class="counters-heading border-none">
                <div>
                    <span>Fleet Manager Comments</span>
                </div>
            </div>
            <p id="spanFleetManagerComments" class="open-sans-font details-common scroller px-0 scrollerautoheight">
            </p>
        </div>
       <div class="common-custom-card isClosureCommentVisible" >
            <div class="counters-heading border-none">
                <div>
                    <span>Closure Comment</span>
                </div>
            </div>
            <p id="spanClosureComment" class="open-sans-font details-common">

            </p>
        </div>
    </div>
</div>

