<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div id="leftcolumntreament">
        <div class="common-custom-card crewillnestreat-height">
            <div class="counters-heading border-none">
                <div>
                    <span>Treatment Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Signed Off as a Result <br /> of this Illness
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSignedOffResult">
                                        -
                                    </span>

                                    <span id="spanSignedOffResultDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Signed Off Port
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSignedOffPort">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Treated Ashore
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanTreatedAshore">
                                        -
                                    </span>

                                    <span id="spanTreatedAshoreDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Treated Port
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnTreatedPort">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Drugs and/or Alcohol tested?
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanDrugsAlcoholTest">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Results of the <br />drug/Alcohol tests available?
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanAlcoholTestAvailable">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Was Person able to resume to <br />
                                    full working duties with no restrictions?
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnWithNoRestrictions" class="text-break">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Number of days <br />
                                    incapacitated to(or off duty)
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnDaysIncapacitated">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Duties Resumed on
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanDutiesResumedon">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Compliant with hours <br />Work & Rest?
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanCompliantHours">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div class="crewillnestreat-height">
        <div class="common-custom-card" id="rightcolumnillness">
            <div class="counters-heading border-none">
                <div>
                    <span>Details of Illness</span>
                </div>
            </div>
            <p id="spanDetailsIllness" class="open-sans-font details-common">- </p>
        </div>

        <div class="common-custom-card isClosureCommentVisible" id="rightcolumntreatment">
            <div class="counters-heading border-none">
                <div>
                    <span>Details of Treatment</span>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-md-6 col-lg-6 col-xl-4">
                    <div class="dashboard-counters-label mr-0">
                        First Aid Given On-Board
                    </div>
                </div>
                <div class="col-4 col-md-6 col-lg-6 col-xl-8">
                    <div class="dashboard-counters">
                        <span id="spanFirstAidOnBoard">
                            -
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p id="spanDetailsTreatment" class="open-sans-font details-common">
                    </p>
                </div>
            </div>

        </div>

        <div class="common-custom-card isClosureCommentVisible" id="rightcolumndeath">
            <div class="counters-heading border-none">
                <div>
                    <span>Where illness resulted in Death - Name and DOB of spouse and other Dependants</span>
                </div>
            </div>
            <p id="spanDependentDetail" class="open-sans-font details-common">

            </p>
        </div>

        <div class="common-custom-card isClosureCommentVisible mb-0" id="rightcolumncomments">
            <div class="counters-heading border-none">
                <div>
                    <span>Comments</span>
                </div>
            </div>
            <p id="spanComments" class="open-sans-font details-common">

            </p>
        </div>

    </div>
</div>