<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div >
        <div class="common-custom-card crewillnespersonal-height">
            <div class="counters-heading border-none">
                <div>
                    <span>Ill Passenger Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-12">
                                <div class="dashboard-counters mr-0">
                                    Personal
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Not in crew list
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanInCrewList">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Crew List
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanCrewList">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    First Name
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnFirstName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Last Name
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnLastName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Rank
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanRank">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Nationality
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnNationality">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Date of Birth
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnDateofBirth" class="text-break">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Gender
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnGender">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Marital Status
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanMaritalStatus">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Psassport No.
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanPsassportNo">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Seaman Book No.
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanSeamanNo">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    PCN
                                </div>
                            </div>
                            <div class="col-6 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spanPCN">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-3 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Address
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-9 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnAddress">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div>
        <div class="common-custom-card crewillnespersonal-height mb-0">
            <div class="counters-heading border-none">
                <div>
                    <span>Report Detils</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-8 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnReportDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="dashboard-counters-label mr-0">
                                    Nature Of Illness
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-8 col-xl-9">
                                <div class="dashboard-counters">
                                    <span id="spnNatureIllness">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>