<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div class="crewillnesdoctor-height" id="leftcolumndoctor">
        <div class="common-custom-card">
            <div class="counters-heading border-none">
                <div>
                    <span>Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Doctor's Name
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanDoctorName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Restriction Apply for Days
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanRestrictionApplyDays">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    If the employee can not return to work, please <br />
                                    indicate approximate length of disability Days
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanDisabilityDays">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Hospitalisation Required?
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnHospitalisationRequired">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-common-design isClosureCommentVisible">
            <div class="common-custom-card passengerillnestreat-height mobile-pad-0">
                <div class="counters-heading border-none">Section below to be completed after Doctor's visit</div>
                <div class="table-responsive compact-table">
                    <table style="width: 100%;" id="dtDoctorVisits" class="table table-hover table-striped table-bordered cardview row-sm">
                        <thead>
                            <tr>
                                <th>Limitations</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div class="crewillnesdoctor-height">
        <div class="common-custom-card" id="rightcolumnmedical">
            <div class="counters-heading border-none">
                <div>
                    <span>Description of Medical Condition / Symptoms</span>
                </div>
            </div>
            <p id="spanDetailsSymptoms" class="open-sans-font details-common">- </p>
        </div>
        <div class="common-custom-card isClosureCommentVisible" id="rightcolumnhospital">
            <div class="counters-heading border-none">
                <div>
                    <span>Name/Address of Hospital</span>
                </div>
            </div>
            <p id="spanAddressHospital" class="open-sans-font details-common">

            </p>
        </div>

        <div class="common-custom-card isClosureCommentVisible mb-0" id="rightcolumnaddress">
            <div class="counters-heading border-none">
                <div>
                    <span>Doctor's Address</span>
                </div>
            </div>
            <p id="spanDoctorAddress" class="open-sans-font details-common">

            </p>
        </div>
    </div>
</div>