<div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="common-custom-card passengerillnesdoctor-height">
        <div class="counters-heading border-none">
            <div>
                <span>
                    Doctor's report
                </span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            First Aid
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Was first aid administered?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanFirstAidAdministered">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Administered BY
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAdministeredBy">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Resucitation Equipment
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Resucitation equipment available?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanResucitationEquipmentAvailable">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Location equipment
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanLocationEquipment">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Drugs/Alcohol (if relevant)
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Injured person under the influence <br />
                                of drugs and/or alcohol?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanInjuredPersonAlcohol">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Amount of alcohol consumed
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAmountAlcoholConsumed">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Spectacles (if relevant)
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Does injured person wear spectacles?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDoesInjuredPerson">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Were they worn at time of accident?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanWereTheyWornAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Other (if relevant)
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Was the injured person in an <br/>
                                authorised place during the accident?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanAuthorisedPlaceDuringTheAccident">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Description of shoes worn by <br/>
                                injured person
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDescriptionShoesWornInjuredPerson">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <div class="common-custom-card passengerillnesdoctor-height">
        <div class="counters-heading border-none">
            <div>
                <span>Doctor's Diagnosis</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters mt-2">
                        <span id="">
                            Details of Illness
                        </span>
                    </div>
                    <div class="open-sans-font details-common" id="divDiagnosisDetailsIllness">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>