<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div id="leftcolumn">
        <div class="common-custom-card passengerillnesssummary-height">
            <div class="counters-heading border-none">
                <div>
                    <span>Basic Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Report Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnReportDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Closed Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnClosedDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Illness Date & Time
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanIllnessDateTime">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Safety Officer
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSafetyOfficer" class="txt-blue text-break">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Classification
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanClassification">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigation Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigationDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigator’s Name
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigatorName">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Investigator’s Rank
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanInvestigatorRank">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Last Changed
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanLastChanged">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Created By
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanCreatedBy" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Parent Report
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanParentReport">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Master
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanMaster" class="txt-blue text-break">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Actual Severity
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanActualSeverity">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div id="" class="passengerillnesssummary-height">
        <div class="common-custom-card" id="rightcolumnDescription">
            <div class="counters-heading border-none">
                <div>
                    <span>Description</span>
                </div>
            </div>
            <p id="spanDescription" class="open-sans-font details-common scroller px-0">- </p>
        </div>
        <div class="common-custom-card isClosureCommentVisible mb-0" id="rightcolumnComments">
            <div class="counters-heading border-none">
                <div>
                    <span>Closure Comment</span>
                </div>
            </div>
            <p id="spanClosureComment" class="open-sans-font details-common">

            </p>
        </div>
    </div>
</div>