<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Basic Details</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Ship Operations
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanShipOperations">
                                   -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Damage to Vessel / Equip
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDamageVesselEquip">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Drugs / Alcohal A Factor
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDrugsAlcohalFactor">
                                   -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Was a note of Protest issued?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanProtestIssued">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Pollution category (Deck)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanPollutionCategoryDeck">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Spills Contained on Deck (ltr)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanSpillsContainedDeck">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Detils (If Other)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanSpillsContainedDeckOtherDetails">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Pollution Category (Sea)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanPollutionCtegorySea">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Spills to sea (ltr)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanSpillsSea">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Details (If other)
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanSpillsSeaOtherDetails">
                                   -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Damage to 3rd Party
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDamage3rdParty">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Details
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanDamage3rdPartOtherDetails">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Immediate Action Taken</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin scrollerheightcomments">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="open-sans-font details-common mr-0 mb-0 scroller px-0" id="divImmediateActionTaken">
                       -
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal mb-0">
        <div class="counters-heading border-none">
            <div>
                <span>Damage Details</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="open-sans-font details-common mr-0 mb-0" id="divDamageDetails">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>