<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Basic Details</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Operation
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanOperation">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                            <div class="dashboard-counters-label mr-0">
                                Potential Cosequences
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                            <div class="dashboard-counters">
                                <span id="spanPotentialCosequences">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card event-height-equal">
        <div class="counters-heading border-none">
            <div>
                <span>Immediate Action Taken</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin scrollerheightcomments">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="open-sans-font details-common mr-0 mb-0 scroller px-0" id="divImmediateActionTaken">
                        -
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
