<div class="col-12 col-md-7 col-lg-7 col-xl-6">
    <div id="observationLeftcolumn" class="">
        <div class="common-custom-card">
            <div class="counters-heading border-none">
                <div>
                    <span>Basic Details</span>
                </div>
            </div>
            <div class="clearfix hazoc-list-margin">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Report Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spnReportDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Observation Date & Time
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanObservationDateTime">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleClosedDate">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Closed Date
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanClosedDate">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Safety Officer
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSafetyOfficer" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Classification
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanClassification">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0" id="divActsLabel">
                                    -
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanSafeAct">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Ship Operations
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanShipOperations">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Potential Consequences
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanPotentialConsequences">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isUnsafeObservation">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters-label mr-0">
                                    Was Work Stopped
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                                <div class="dashboard-counters">
                                    <span id="spanWasWorkStopped">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Last Changed
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanLastChanged">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Created By
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanCreatedBy" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="isVisibleParentReport">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Parent Report
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanParentReport">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Master
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanMaster" class="txt-blue">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Observation Raised By
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanObservationRaisedBy">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Reporter’s Rank
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanReporterRank">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row isUnsafeObservation">
                            <div class="col-6 col-md-6 col-lg-6 col-xl-5">
                                <div class="dashboard-counters-label mr-0">
                                    Potential Severity
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 col-xl-7">
                                <div class="dashboard-counters">
                                    <span id="spanPotentialSeverity">
                                        -
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="common-custom-card">
            <div class="counters-heading border-none">
                <div>
                    <span>Immediate Action Taken</span>
                </div>
            </div>
            <p id="spanImmediateActionTaken" class="open-sans-font details-common">-</p>
        </div>
    </div>
</div>
<div class="col-12 col-md-5 col-lg-5 col-xl-6">
    <div id="rightcolumn" class="">
        <div class="common-custom-card" id="rightcolumnDescription">
            <div class="counters-heading border-none">
                <div>
                    <span>Description</span>
                </div>
            </div>
            <p id="spanDescription" class="open-sans-font details-common scroller px-0">- </p>
        </div>
        <div class="common-custom-card isClosureCommentVisible"  id="rightcolumnClosureComments">
            <div class="counters-heading border-none">
                <div>
                    <span>Closure Comment</span>
                </div>
            </div>
            <p id="spanClosureComment" class="open-sans-font details-common">
                -
            </p>
        </div>
        <div class="common-custom-card"  id="rightcolumnComments">
            <div class="counters-heading border-none">
                <div>
                    <span>Comments</span>
                </div>
            </div>
            <p id="spanComments" class="open-sans-font details-common scroller px-0" style="height:45px">
                -
            </p>
        </div>
    </div>
</div>
