<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card passengerillnestreat-height">
        <div class="counters-heading border-none">
            <div>
                <span>Report Details</span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Details of Illness
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0" id="divDetailsIllness">
                        -
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Details of Treatement
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0" id="divDetailsTreatement">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="common-custom-card passengerillnestreat-height">
        <div class="counters-heading border-none">
            <div>
                <span>
                    Further Treatment
                </span>
            </div>
        </div>
        <div class="clearfix hazoc-list-margin">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            If Person Disembarked
                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-7">
                            <div class="dashboard-counters-label mr-0">
                                Port
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-5">
                            <div class="dashboard-counters">
                                <span id="spanPort">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-7">
                            <div class="dashboard-counters-label mr-0">
                                Date
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-5">
                            <div class="dashboard-counters">
                                <span id="spanDate">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-7">
                            <div class="dashboard-counters-label mr-0">
                                Passenger sent to onshore doctor?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-5">
                            <div class="dashboard-counters">
                                <span id="spanOnshoreDoctor">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-7 col-xl-7">
                            <div class="dashboard-counters-label mr-0">
                                Tests/X-Rays recommended?
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-5 col-xl-5">
                            <div class="dashboard-counters">
                                <span id="spanTestasRecommended">
                                    -
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Result of Tests/X-Rays
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0" id="divResultTests">
                        -
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Name and Address of Hospital/Doctor
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0" id="divNameAddressHospitalDoctor">
                        -
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="dashboard-counters  mt-2">
                        <span id="">
                            Remarks
                        </span>
                    </div>
                    <div class="open-sans-font details-common mr-0 mb-0" id="divRemarks">
                        -
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="col-12 col-md-4 col-lg-4 col-xl-4">
    <div class="table-common-design">
        <div class="common-custom-card passengerillnestreat-height mb-0 mobile-pad-0">
            <div class="counters-heading border-none">Medical Visit</div>
            <div class="table-responsive compact-table">
                <table style="width: 100%;" id="dtMedicalVisits" class="table table-hover table-striped table-bordered cardview row-sm">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>No. Of Visists</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>