@model List<PWAFeaturesRnd.ViewModels.OfflineUrlMapping.Views>
<div class="modal fade" id="divOfflineModalPopPup" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header header-background header-padding">
                <div class="col-md-11 pl-0">
                    <div class="common-heading-green">Go Offline</div>
                </div>
                <div>
                    <button type="button" class="close pull-right p-0 mr-0 mt-0 font-size-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <label class="common-heading-green" style="font-weight: 100;">This feature will make your app work in offline mode.</label>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var item in Model)
                    {
                        @if (item.Modules.Any())
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne_@item.ViewId" aria-expanded="true" aria-controls="collapseOne">
                                            @item.ViewName
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne_@item.ViewId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            @foreach (var i in item.Modules)
                                            {
                                                <li class="list-group-item">
                                                    <input id="chk_offlineModule_@i.ModuleId" type="checkbox" class="input-offline-modules" data-viewid="@item.ViewId" data-moduleid="@i.ModuleId">
                                                    <label for="chk_offlineModule_@i.ModuleId">@i.ModuleName</label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer common-form-design">
                <button type="button" id="btnclode" data-dismiss="modal" class="btn btn-cancelsecondarybtn" style="padding: 5px 12px;">Cancel</button>
                <button type="button" id="btnSaveOffline" class="btn search-btn">Save</button>
            </div>
        </div>
    </div>
</div>
