################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PWAFeaturesRnd/PWAFeaturesRnd/wwwroot/assets/scripts
