@{
	Layout = "~/Views/Shared/base.cshtml";
}

@section Title
{
	Grid To Cards
}

@section ContentSection
{
	<div class="app-main__outer">
		<div class="app-main__inner">
			<div class="main-card mb-3 card">
				<div class="card-header-tab card-header">
					<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
						<i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>SICHEM MISSISSIPPI - TRANSACTION
					</div>
				</div>
				<div class="card-body">
					<div class="col-md-12">
						<div class="row">
							<div class="table-responsive">
								<table id="register" class="table table-hover table-striped table-bordered cardview">
									<thead>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Salary</th>
											<th>Start</th>
											<th>Office</th>
											<th>Extn</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@section scriptsection {
	<script src="~/assets/scripts/ppmlist.bundle.js"></script>
}
