@{
	Layout = "~/Views/Shared/base.cshtml";
}

@section Title
{
	Purchasing
}

@section ContentSection
{
	<div class="app-main__outer fixed-page-header">
		<div class="app-main__inner background-padding">
			<div class="app-page-title header-shadow">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
						<div>
							Purchasing - Sichem Amethyst
						</div>
					</div>
					<div class="page-title-actions">
						<div class="d-inline-block dropdown mr-sm-3">
							<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
								<span class="btn-icon-wrapper pr-2 opacity-7">
									<i class="fa fa-filter fa-w-20"></i>
								</span>
								<span id="spSubtitle">In Process (2)</span>
							</button>
							<div tabindex="-1" role="menu" id="divOption" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link active link-clicked" href="#tab-content-0" id="InProcess" data-toggle="tab">
											<span>
												In Process (2)
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link link-clicked" href="#tab-content-1" id="Ordered" data-toggle="tab">
											<span>
												Ordered (2)
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link link-clicked" href="#tab-content-2" id="Dispatched" data-toggle="tab">
											<span>
												Dispatched (2)
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link link-clicked" href="#tab-content-4" id="AuthReq" data-toggle="tab">
											<span>
												Auth. Enq. (2)
											</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link link-clicked" href="#tab-content-3" id="Received" data-toggle="tab">
											<span>
												Received (30 Days) (2)
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<br class="d-block d-sm-none" />
						<button data-toggle="tooltip" title="Export to excel" data-placement="bottom" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue mr-1 mt-sm-0 mt-2">
							<i class="fa fa-fw" aria-hidden="true"></i>
						</button>
						<button data-toggle="tooltip" title="Create Requisition" data-placement="bottom" onclick="location.href = '/Requisition/Details';" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue mr-1 mt-sm-0 mt-2">
							<i class="fa fa-fw" aria-hidden="true"></i>
						</button>
						<button data-toggle="modal" data-target="#convertOrderConfirmation" title="Change Delivery Status" data-placement="bottom" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue mr-1 mt-sm-0 mt-2">
							<i class="fa fa-sync-alt" aria-hidden="true"></i>
						</button>
						<button data-toggle="modal" data-target="#holdOrderConfirmation" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue mr-1 mt-sm-0 mt-2">
							<i class="fa fa-pause-circle" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="main-card content-pane card margin-bottom-custom">
				<div class="card-body">
					<div class="tab-content">
						<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
							<div class="table-responsive compact-table">
								<table style="width: 100%;" id="dtInProc" class="table table-hover table-bordered cardview row-sm">
									<thead>
										<tr>
											<th width="100px">
												Order No.
											</th>
											<th width="450px">
												Order Name
											</th>
											<th width="80px">
												Status
											</th>
											<th width="110px">
												Date Entered
											</th>
											<th>
												&nbsp;
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
							<div class="table-responsive compact-table">
								<table style="width: 100%;" id="dtOrdered" class="table table-hover table-bordered cardview row-sm">
									<thead>
										<tr>
											<th>
												Order No.
											</th>
											<th>
												Order Name
											</th>
											<th>
												Status
											</th>
											<th>
												Date Ordered
											</th>
											<th>
												Expected Delivery Date
											</th>
											<th>
												Supplier Name
											</th>
											<th>
												Warehouse
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="tab-pane tabs-animation fade" id="tab-content-2" role="tabpanel">
							<div class="table-responsive compact-table">
								<table style="width: 100%;" id="dtDispatched" class="table table-hover table-bordered cardview row-sm">
									<thead>
										<tr>
											<th>
												Order No.
											</th>
											<th>
												Order Name
											</th>
											<th>
												Status
											</th>
											<th>
												Date Ordered
											</th>
											<th>
												Supplier Name
											</th>
											<th>
												Agent
											</th>
											<th>
												Expected Delivery Date
											</th>
											<th>
												Expected Port
											</th>

										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="tab-pane tabs-animation fade" id="tab-content-3" role="tabpanel">
							<div class="table-responsive compact-table">
								<table style="width: 100%;" id="dtRecd" class="table table-hover table-bordered cardview row-sm">
									<thead>
										<tr>
											<th>
												Order No.
											</th>
											<th>
												Order Name
											</th>
											<th>
												Status
											</th>
											<th>
												Date Ordered
											</th>
											<th>
												Supplier Name
											</th>
											<th>
												Agent
											</th>
											<th>
												Received On
											</th>
											<th>
												Received Port
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="tab-pane tabs-animation fade" id="tab-content-4" role="tabpanel">
							<div class="table-responsive compact-table">
								<table style="width: 100%;" id="dtAuth" class="table table-hover table-bordered cardview row-sm">
									<thead>
										<tr>
											<th>
												Order No.
											</th>
											<th>
												Order Name
											</th>
											<th>
												Status
											</th>
											<th>
												Supplier Name
											</th>
											<th>
												Cost
											</th>
											<th>
												Currency
											</th>
											<th>
												Expected Delivery Date
											</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}


@section Modal
{
	<div class="modal fade" id="changeOrderStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Change Order Status</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-2 background-padding">
					<div class="card">
						<form class="card-body">
							<div class="position-relative form-group">
								<label>Order Status</label>
								<select name="select" id="changeOrderStatusTo" class="form-control form-control-sm">
									<option value="DA">DA - Delivery To Agent</option>
									<option value="DV">DV - Delivery To Vessel</option>
									<option value="DW">DW - Delivery To Warehouse</option>
									<option value="O">O - Order Issued</option>
									<option value="OX">OX - Order Ready Ex-Works</option>
									<option value="PF">PF - Pro-Forma Invoice Received</option>
									<option value="RA">RA - Received by Agent</option>
									<option value="RT">RT - Received in Transit</option>
									<option value="SW">SW - Stored at Warehouse</option>
								</select>
							</div>
						</form>
					</div>
					<div id="divOrderIssued" class="card mt-2">
						<form class="card-body">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="position-relative form-group">
										<label>Lead Time</label>
										<div class="input-group input-group-sm m-0">
											<input type="number" class="form-control-sm form-control">
											<div class="input-group-append">
												<span class="input-group-text"> Days </span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="position-relative form-group">
										<label>Delivery Date</label>
										<div class="input-group input-group-sm m-0">
											<div class="input-group-prepend datepicker-trigger-deliveryDate">
												<div class="input-group-text">
													<i class="fa fa-calendar-alt"></i>
												</div>
											</div>
											<input type="text" class="form-control form-control-sm" data-toggle="datepicker-icon-deliveryDate" />
										</div>
									</div>
								</div>
							</div>
							<div class="position-relative form-group">
								<label>Notes</label>
								<textarea class="form-control form-control-sm" rows="4"></textarea>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer text-right">
					<a href="#" data-dismiss="modal" id="btnChangeOrderStatus" class="btn btn-primary">Next</a>
					<a href="#" data-dismiss="modal" class="btn btn-secondary">Cancel</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="convertOrderConfirmation" tabindex="-1" role="dialog" aria-labelledby="convertOrderConfirmation" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span>Convert the requisition to an enquiry?</span>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnSendEmail" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="holdOrderConfirmation" tabindex="-1" role="dialog" aria-labelledby="convertOrderConfirmation" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span>Put the order on hold?</span>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnSendEmail" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

}

@section ScriptSection
{
	<script src="~/assets/scripts/purchasingList.bundle.js"></script>
}