
@{
	Layout = "~/Views/Shared/base.cshtml";
}

@section Title
{

	Order Details
}

@section ContentSection
{
	<div class="app-main__outer order-details">
		<div class="app-main__inner background-padding">
			<div class="app-page-title header-shadow">
				<div class="page-title-wrapper">
					<div class="page-title-heading">
						<div>
							<span class="badge badge-pill badge-success">TA</span> &nbsp;4251 - 01291 BD2020/Fire & G/S Pump
							<div class="page-title-subheading">SICHEM AMETHYST &nbsp;| &nbsp;Spares &nbsp;| &nbsp;<b>Account Code</b> 5430560 - PUMPS</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card content-pane margin-bottom-custom">
				<div class="card-header card-header-tab-animation">
					<ul class="nav nav-justified">
						<li class="nav-item"><a data-toggle="tab" href="#tab-eg115-0" class="active nav-link">SUMMARY</a></li>
						<li class="nav-item"><a data-toggle="tab" href="#tab-eg115-1" class="nav-link">ORDER LINES</a></li>
						<li class="nav-item"><a data-toggle="tab" href="#tab-eg115-2" class="nav-link">SUPPLIERS</a></li>
						<li class="nav-item"><a data-toggle="tab" href="#tab-eg115-3" class="nav-link">DELIVERY</a></li>
						<li class="nav-item"><a data-toggle="tab" href="#tab-eg115-4" class="nav-link">BUDGET</a></li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content">
						<div class="tab-pane active" id="tab-eg115-0" role="tabpanel">
							<h1>Order Details</h1>
							<div class="no-gutters row order-detail-tab">
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Type </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">Spares</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Priority </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">Normal</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Lines </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">17</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Expected Delivery Date </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">20 Apr 2020</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Expected Port </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">Goa (INGOI)</div>

											</div>
										</div>
									</div>
								</div>

								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Expected Country </div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-6 col-xl-2">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-subheading">Netharlands</div>

											</div>
										</div>
									</div>
								</div>

							</div>
							<h1>Components (2)</h1>
							<div class="no-gutters">
								<div class="table-responsive compact-table">
									<table style="width: 100%;" id="" class="table table-hover table-bordered cardview row-sm">
										<thead>
											<tr>
												<th>Component</th>
												<th>Maker</th>
												<th>Serial</th>
												<th>Type</th>
												<th>Designer</th>
												<th>Critical</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="tdblock"><Label>Component</Label><br /> Fire & G/S Pump & Electric Motor</td>
												<td class="tdblock"><Label>Maker</Label><br />TIOKO KIKAI Industries Co. Ltd</td>
												<td><Label>Serial</Label><br />A1J6655</td>
												<td><Label>Type</Label><br />VSC - 150</td>
												<td><Label>Designer</Label><br />TIOKO KIKAI</td>
												<td class="text-center"><Label>Critical</Label><br /><i class="pe-7s-close d-inline"> </i></td>
											</tr>
											<tr>
												<td class="tdblock"><Label>Component</Label><br /> Fire & G/S Pump & Electric Motor</td>
												<td class="tdblock"><Label>Maker</Label><br />TIOKO KIKAI Industries Co. Ltd</td>
												<td><Label>Serial</Label><br />A1J6655</td>
												<td><Label>Type</Label><br />VSC - 150</td>
												<td><Label>Designer</Label><br />TIOKO KIKAI</td>
												<td class="text-center"><Label>Critical</Label><br /><i class="pe-7s-close d-inline"> </i></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<h1>Suppliers (2)</h1>
							<div class="">
								<div class="table-responsive compact-table">
									<table style="width: 100%;" id="example" class="table table-hover table-bordered cardview row-sm">
										<thead>
											<tr>
												<th>Supplier Name</th>
												<th>Status</th>
												<th>Goods</th>
												<th>Freight</th>
												<th>Total</th>
												<th>CUR</th>
												<th>Base (USD)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="tdblock"><Label>Supplier Name</Label><br />Fuji Trading Co.Ltd</td>
												<td class="text-center"><Label>Status</Label><br /><span class="badge badge-pill badge-success">TA</span></td>
												<td class="text-right"><Label>Goods</Label><br />1,242,450.00</td>
												<td class="text-right"><Label>Freight</Label><br />0.00</td>
												<td class="text-right"><Label>Total</Label><br />1,242,450.00</td>
												<td><Label>CUR</Label><br />JPY</td>
												<td class="text-right"><Label>Base (USD)</Label><br />11,532.50</td>
											</tr>
											<tr>
												<td class="tdblock"><Label>Supplier Name</Label><br />Fuji Trading Co.Ltd</td>
												<td class="text-center"><Label>Status</Label><br /><span class="badge badge-pill badge-success">TA</span></td>
												<td class="text-right"><Label>Goods</Label><br />1,242,450.00</td>
												<td class="text-right"><Label>Freight</Label><br />0.00</td>
												<td class="text-right"><Label>Total</Label><br />1,242,450.00</td>
												<td><Label>CUR</Label><br />JPY</td>
												<td class="text-right"><Label>Base (USD)</Label><br />11,532.50</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-eg115-1" role="tabpanel">
							<div class="">
								<button data-toggle="tooltip" title="Export to excel" data-placement="bottom" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue top--10px float-right">
									<i class="fa fa-fw" aria-hidden="true"></i>
								</button>
								<h1>Order Lines (6)</h1>
								<div class="table-responsive compact-table">
									<table style="width: 100%;" id="" class="table table-hover table-bordered cardview row-sm">
										<thead>
											<tr>
												<th class="d-none d-sm-table-cell">
													Notes
												</th>
												<th>
													Part Name
												</th>
												<th>
													Makers Reference
												</th>
												<th>
													Drawing Position
												</th>
												<th>
													UOM
												</th>
												<th>
													ROB
												</th>
												<th>
													REQ
												</th>
												<th>
													ENQ
												</th>
												<th>
													ORD
												</th>
												<th>
													REC
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>GASKET
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 905
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 905
												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													0
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />15</td>
												<td class="text-right row-4-columns"><label>REC</label><br /> 0</td>
											</tr>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>BEARING WASHER
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 152
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 152

												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													0
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />15</td>
												<td class="text-right row-4-columns"><label>REC</label><br />0</td>
											</tr>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>BALL BEARING (6310 C3)
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 201
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 201
												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													3
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />15</td>
												<td class="text-right row-4-columns"><label>REC</label><br />2</td>
											</tr>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>GREASE NIPPLE
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 210
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 210
												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													0
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />10</td>
												<td class="text-right row-4-columns"><label>REC</label><br />3</td>
											</tr>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>GREASE FITTING
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 211
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 211
												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													0
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />35</td>
												<td class="text-right row-4-columns"><label>REC</label><br />4</td>
											</tr>
											<tr>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="tdblock">
													<label>Part Name</label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>GLAND PACKING
												</td>
												<td class="tdblock">
													<label>Makers Reference</label><br />
													VSE-150 ; Pos. 501
												</td>
												<td class="tdblock">
													<label>Drawing Position</label><br />
													S0977A1J1507 / Pos. 501
												</td>
												<td class="row-4-columns">
													<label>UOM</label><br />
													PCS
												</td>
												<td class="text-right row-4-columns">
													<label>ROB</label><br />
													0
												</td>
												<td class="text-right row-4-columns"><label>REQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ENQ</label><br />2</td>
												<td class="text-right row-4-columns"><label>ORD</label><br />14</td>
												<td class="text-right row-4-columns"><label>REC</label><br />4</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-eg115-2" role="tabpanel">
							<div class="">
								<button data-toggle="tooltip" title="Export to excel" data-placement="bottom" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue top--10px float-right">
									<i class="fa fa-fw" aria-hidden="true"></i>
								</button>

								<h1>Suppliers (4)</h1>
								<div class="table-responsive compact-table">
									<table style="width: 100%;" id="" class="table table-hover table-bordered cardview row-sm">
										<thead>
											<tr>
												<th width="75px" class="d-none d-sm-table-cell">
													Actions
												</th>
												<th class="d-none d-sm-table-cell">
													@*Notes*@
												</th>
												<th class="d-table-cell d-sm-none">
													&nbsp;
												</th>
												<th width="300">
													Supplier Name
												</th>
												<th>
													Country
												</th>
												<th>
													Type
												</th>
												<th>
													Complete
												</th>
												<th>
													Max Ex-Works Days
												</th>
												<th>
													Total
												</th>
												<th>
													CUR
												</th>
												<th>
													Base (USD)
												</th>
												<th>
													RFQ Issued
												</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center d-none d-sm-table-cell">
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-check-circle" data-toggle="modal" data-target="#modalAuthorizeQuote" title="Authorize Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-eye" onclick="location.href='/Order/ViewQuote'" title="View Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
												</td>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="td-w-82">
													<Label>Supplier Name</Label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>Fuji Trading Co.Ltd
												</td>
												<td class="d-sm-none td-w-14">
													<div class="btn-group dropdown show">
														<button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
															<i class="pe-7s-menu btn-icon-wrapper"></i>
														</button>

														<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
															<button type="button" tabindex="0" class="dropdown-item" data-toggle="modal" data-target="#modalAuthorizeQuote">
																<i class="dropdown-icon fa fa-check-circle"> </i><span>Authorize Quote</span>
															</button>
															<button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/Order/ViewQuote'">
																<i class="dropdown-icon fa fa-eye"></i><span>View Quote</span>
															</button>
														</div>
													</div>
												</td>
												<td>
													<Label>Country</Label><br />
													JPN
												</td>
												<td class="text-center"> <Label>Type</Label><br /> <span class="badge badge-pill badge-success">M</span></td>
												<td class="text-center"> <Label>Complete</Label><br /><i class="fa fa-check text-success" aria-hidden="true"></i> </td>
												<td class="text-right"> <Label>Max Ex-Works Days</Label><br /> 1</td>
												<td class="text-right">
													<Label>Total</Label><br />
													1,242,450.00
												</td>
												<td>
													<Label>CUR</Label><br />
													JPY
												</td>
												<td class="text-right"><Label>Base (USD)</Label><br />11,523</td>
												<td class="text-center"><Label>RFQ Issued</Label><br />27 Mar 2020</td>
											</tr>
											<tr>
												<td class="text-center d-none d-sm-table-cell">
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-check-circle" data-toggle="modal" data-target="#modalAuthorizeQuote" title="Authorize Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-eye" onclick="location.href='/Order/ViewQuote'" title="View Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
												</td>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="td-w-82">
													<Label>Supplier Name</Label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>LDC Japan LTD
												</td>
												<td class="d-sm-none td-w-14">
													<div class="btn-group dropdown show">
														<button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
															<i class="pe-7s-menu btn-icon-wrapper"></i>
														</button>

														<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
															<button type="button" tabindex="0" class="dropdown-item" data-toggle="modal" data-target="#modalAuthorizeQuote">
																<i class="dropdown-icon fa fa-check-circle"> </i><span>Authorize Quote</span>
															</button>
															<button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/Order/ViewQuote'">
																<i class="dropdown-icon fa fa-eye"></i><span>View Quote</span>
															</button>
														</div>
													</div>
												</td>
												<td>
													<Label>Country</Label><br />
													JPN
												</td>
												<td class="text-center">
													<Label>Type</Label><br /> <span class="badge badge-pill badge-success">M</span>
												</td>
												<td class="text-center"> <Label>Complete</Label><br /><i class="fa fa-check text-success" aria-hidden="true"></i> </td>
												<td class="text-right"> <Label>Max Ex-Works Days</Label><br /> 1</td>
												<td class="text-right">
													<Label>Total</Label><br />
													1,471,080.00
												</td>
												<td>
													<Label>CUR</Label><br />
													JPY
												</td>
												<td class="text-right"><Label>Base (USD)</Label><br />13,643.47</td>
												<td class="text-center"><Label>RFQ Issued</Label><br />27 Mar 2020</td>
											</tr>
											<tr>
												<td class="text-center d-none d-sm-table-cell">
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-check-circle" data-toggle="modal" data-target="#modalAuthorizeQuote" title="Authorize Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-eye" onclick="location.href='/Order/ViewQuote'" title="View Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
												</td>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="td-w-82">
													<Label>Supplier Name</Label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>ISS Machinery Services Ltd
												</td>
												<td class="d-sm-none td-w-14">
													<div class="btn-group dropdown show">
														<button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
															<i class="pe-7s-menu btn-icon-wrapper"></i>
														</button>

														<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
															<button type="button" tabindex="0" class="dropdown-item" data-toggle="modal" data-target="#modalAuthorizeQuote">
																<i class="dropdown-icon fa fa-check-circle"> </i><span>Authorize Quote</span>
															</button>
															<button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/Order/ViewQuote'">
																<i class="dropdown-icon fa fa-eye"></i><span>View Quote</span>
															</button>
														</div>
													</div>
												</td>
												<td>
													<Label>Country</Label><br />
													JPN
												</td>
												<td class="text-center"> <Label>Type</Label><br /> <span class="badge badge-pill badge-success">M</span></td>
												<td class="text-center"> <Label>Complete</Label><br /><i class="fa fa-check text-success" aria-hidden="true"></i> </td>
												<td class="text-right"> <Label>Max Ex-Works Days</Label><br /> 3</td>
												<td class="text-right">
													<Label>Total</Label><br />
													0.00
												</td>
												<td>
													<Label>CUR</Label><br />
													JPY
												</td>
												<td class="text-right"><Label>Base (USD)</Label><br />0.00</td>
												<td class="text-center"><Label>RFQ Issued</Label><br />27 Mar 2020</td>
											</tr>
											<tr>
												<td class="text-center d-none d-sm-table-cell">
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-check-circle" data-toggle="modal" data-target="#modalAuthorizeQuote" title="Authorize Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
													<button class="btn btn-icon fsize-1 px-1">
														<i class="fa fa-eye" onclick="location.href='/Order/ViewQuote'" title="View Quote" data-placement="bottom" aria-hidden="true"></i>
													</button>
												</td>
												<td class="d-none d-sm-table-cell text-center">
													<i class="fa fa-fw" aria-hidden="true"></i>
												</td>
												<td class="td-w-82">
													<Label>Supplier Name</Label><br />
													<i class="fa fa-fw d-inline-block d-sm-none mr-1" aria-hidden="true"></i>Nippon Disel Service GmbH
												</td>
												<td class="d-sm-none td-w-14">
													<div class="btn-group dropdown show">
														<button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" class="btn-icon btn-icon-only btn btn-link">
															<i class="pe-7s-menu btn-icon-wrapper"></i>
														</button>

														<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-shadow dropdown-menu-right dropdown-menu-hover-link dropdown-menu">
															<button type="button" tabindex="0" class="dropdown-item" data-toggle="modal" data-target="#modalAuthorizeQuote">
																<i class="dropdown-icon fa fa-check-circle"> </i><span>Authorize Quote</span>
															</button>
															<button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/Order/ViewQuote'">
																<i class="dropdown-icon fa fa-eye"></i><span>View Quote</span>
															</button>
														</div>
													</div>
												</td>
												<td>
													<Label>Country</Label><br />
													DEU
												</td>
												<td class="text-center"> <Label>Type</Label><br /><span class="badge badge-pill badge-success">M</span></td>
												<td class="text-center"> <Label>Complete</Label><br /><i class="fa fa-check text-success" aria-hidden="true"></i> </td>
												<td class="text-right"> <Label>Max Ex-Works Days</Label><br /> 1</td>
												<td class="text-right">
													<Label>Total</Label><br />
													0.00
												</td>
												<td>
													<Label>CUR</Label><br />
													JPY
												</td>

												<td class="text-right"><Label>Base (USD)</Label><br />0.00</td>
												<td class="text-center"><Label>RFQ Issued</Label><br />27 Mar 2020</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-eg115-3" role="tabpanel">

							<div class="row">

								<div class="col-12 col-md-12 col-lg-3 delivery-detail-right">
									<h1>Order Tracker</h1>
									<div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column mt-3">
										<div class="vertical-timeline-item dot-success vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div class="vertical-timeline-element-content bounce-in">
													<h4 class="timeline-title">Created</h4>
													<p>
														<span class="text-success">25 Mar 2020</span>
													</p>
												</div>
											</div>
										</div>
										<div class="vertical-timeline-item dot-success vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div class="vertical-timeline-element-content bounce-in">
													<h4 class="timeline-title">
														Requested

													</h4>
													<p>
														25 Mar 2020
													</p>
												</div>
											</div>
										</div>
										<div class="vertical-timeline-item dot-default vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div class="vertical-timeline-element-content bounce-in">
													<h4 class="timeline-title">
														Ordered
													</h4>
												</div>
											</div>
										</div>
										<div class="vertical-timeline-item dot-default vertical-timeline-element">
											<div>
												<span class="vertical-timeline-element-icon bounce-in"></span>
												<div class="vertical-timeline-element-content bounce-in">
													<h4 class="timeline-title">
														Expected Delivery
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-12 col-lg-4 delivery-details delivery-detail-right">
									<h1>Delivery To</h1>

									<div class="main-card card delivery-to">
										<div class="card-body">
											<h5 class="card-title">Warehouse</h5>
											<h6 class="mb-0 card-subtitle">Swift Marine c/o Mnc International Co. Ltd</h6>
											<br />
										</div>
										<div class="card-body">
											Block G2, 97-49 , 296 Beong - Gil, Gonghangdong-Ro, Joong-Gu<br />
											(Zip 22379) Pic: Mr Kb Kim<br />
											Incheon 000<br />
											Korean (South)<br />
											Email: <a href="javascript:void(0);" class="card-link">ops5@swftmarine.eu</a>

										</div>
									</div>
								</div>
								<div class="col-12 col-md-12 col-lg-5 delivery-details">
									<h1>Delivery Times</h1>
									<div class="row">
										<div class="col-12 col-md-4 col-xl-4">
											<div class="widget-content">
												<div class="widget-content-wrapper">
													<div class="widget-content-left">
														<div class="widget-heading">  Delivery Days </div>
														<br />
														<div class="widget-subheading">5</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-4 col-xl-4">
											<div class="widget-content">
												<div class="widget-content-wrapper">
													<div class="widget-content-left">
														<div class="widget-heading">Days Remaining </div><br />
														<div class="widget-subheading">0</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-4 col-xl-4">
											<div class="widget-content">
												<div class="widget-content-wrapper">
													<div class="widget-content-left">
														<div class="widget-heading">Delivery Date </div><br />
														<div class="widget-subheading">30 Apr 2020</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane budget-details" id="tab-eg115-4" role="tabpanel">

							<h1>Budget Details</h1>
							<div class="no-gutters row order-detail-tab">
								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">From</div><br />
												<div class="widget-subheading">1 Jan 2020</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">To</div><br />
												<div class="widget-subheading">31 Dec 2020</div>

											</div>
										</div>
									</div>
								</div>
								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Year Allocation </div><br />
												<div class="widget-subheading">50,000.00</div>

											</div>
										</div>
									</div>
								</div>

								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Accruals </div><br />
												<div class="widget-subheading">21,160.88</div>
											</div>
										</div>
									</div>
								</div>


								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Actual</div><br />
												<div class="widget-subheading">9,853.31</div>

											</div>
										</div>
									</div>
								</div>

								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Total </div><br />
												<div class="widget-subheading">31,014.19</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Variance </div><br />
												<div class="widget-subheading">18,985.81</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-6 col-md-2 col-lg-1-5">
									<div class="widget-content">
										<div class="widget-content-wrapper">
											<div class="widget-content-left">
												<div class="widget-heading">Currency</div><br />
												<div class="widget-subheading">USD</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<button data-toggle="tooltip" title="Export to excel" data-placement="bottom" class="btn btn-dark btn-shadow font-size-lg p-1 hover-blue top--10px float-right">
								<i class="fa fa-fw" aria-hidden="true"></i>
							</button>
							<h1>Orders (2)</h1>
							<div class="">
								<div class="table-responsive compact-table">
									<table style="width: 100%;" id="" class="table table-hover table-bordered cardview row-sm">
										<thead>
											<tr>
												<th>Order No.</th>
												<th>Order Name</th>
												<th>Date</th>
												<th>Local Cost</th>
												<th>Currency</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="tdblock"><a href="/Order/Details">4646 - 01085</a></td>
												<td class="tdblock"><label>Order Name</label><br />M.E EMERGE BOX TACHO INSTRUMENT</td>
												<td class="text-center"><label>Date</label><br />21 Jan 2020</td>
												<td class="text-right"><label>Local Cost</label><br />590.00</td>
												<td class="tdblock"><label>Currency</label><br />USD</td>
											</tr>
											<tr>
												<td class="tdblock"><a href="/Order/Details">4646 - 02838</a></td>
												<td class="tdblock"><label>Order Name</label><br />MAIN ENGINE</td>
												<td class="text-center"><label>Date</label><br />03 Apr 2020</td>
												<td class="text-right"><label>Local Cost</label><br />3,350.00</td>
												<td class="tdblock"><label>Currency</label><br />EUR</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}

@section Modal{

	<div class="modal fade" id="modalAuthorizeQuote" tabindex="-1" role="dialog" aria-labelledby="modalAuthorizeQuote" aria-hidden="true">
		@*<div class="modal-backdrop fade show d-none" id="authorizeQuoteBackdrop"></div>*@
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Authorize Quote</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body background-padding">
					<div id="smartwizardAuthorizeQuote" class="forms-wizard-alt">
						<ul class="forms-wizard">
							<li>
								<a href="#stepReadNotes">
									<em>1</em><span>Read Notes</span>
								</a>
							</li>
							<li>
								<a href="#stepDetails">
									<em>2</em><span>Details</span>
								</a>
							</li>
						</ul>

						<div class="form-wizard-content">
							<div id="stepReadNotes">
								<div class="card">
									<div class="card-body">
										<textarea class="form-control form-control-sm" data-html="true" rows="20" disabled>
Supply the glass compliance to the glass and installation -3774 $
Note :
3 technicians required traveling to the ship, travel and accomadation to be arrange by owners.
Time production : 4 weeks after approval

										</textarea>

										<div class="position-relative form-check mt-3">
											<input name="check" id="supplierNoteCheck" type="checkbox" class="form-check-input">
											<label for="supplierNoteCheck" class="form-check-label">
												I have read and understood the supplier notes attached to this order.
											</label>
										</div>
									</div>
								</div>
							</div>
							<div id="stepDetails">
								<div class="card margin-bottom-custom">
									<div class="card-body">
										<div class="card-title">Details</div>
										<div class="row py-2 py-sm-1">
											<div class="col-12 col-md-4">
												Order Name
											</div>
											<div class="col-12 col-md-8">
												SCA OBSER.LOUNGE WINDOW GLASS FABRICATIO
											</div>
										</div>
										<div class="row py-2 py-sm-1">
											<div class="col-12 col-md-4">
												Account Code
											</div>
											<div class="col-12 col-md-8">
												<div class="input-group input-group-sm m-0 max-width-sm-100">
													<input type="text" class="form-control-sm form-control" value="6500000 - DIFFERENCE ON EXCHANGE">
													<div class="input-group-append">
														<span class="input-group-text">
															<i class="fa fa-search"></i>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row py-2 py-sm-1">
											<div class="col-12 col-md-4">
												Supplier
											</div>
											<div class="col-12 col-md-8">
												Wrist West Coast (Long Beach / Los Angeles)
												<a data-toggle="modal" data-target="#modalSupplier"><i class="fa fa-info-circle cursor-pointer open-modal-btn"></i></a>
											</div>
										</div>
										<div class="row py-2 py-sm-1">
											<div class="col-12 col-md-4">
												Port
											</div>
											<div class="col-12 col-md-8">

											</div>
										</div>
										<div class="row">
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														Ex-Works Country
													</div>
													<div class="col-12 col-md-8">

													</div>
												</div>
											</div>
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														Ex-Works
													</div>
													<div class="col-12 col-md-8">
														20 Day(s)
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														Hazardous Goods
													</div>
													<div class="col-12 col-md-8">
														No
													</div>
												</div>
											</div>
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														Type of Spare Parts
													</div>
													<div class="col-12 col-md-8">

													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														All Items Quoted
													</div>
													<div class="col-12 col-md-8">
														<span class="text-danger">No</span>
													</div>
												</div>
											</div>
											<div class="col-6 col-md-12">
												<div class="row py-2 py-sm-1">
													<div class="col-12 col-md-4">
														Proforma Requested
													</div>
													<div class="col-12 col-md-8">
														No
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-lg-5">
										<div class="card margin-bottom-custom">
											<div class="card-body">
												<div class="row py-1">
													<div class="col-6 col-md-4">
														Quoted
													</div>
													<div class="col-6 col-md-8">
														<span class="float-right">3,774.00 (EUR)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-6 col-md-4">
														Budget
													</div>
													<div class="col-6 col-md-8">
														<span class="float-right">0.00 (USD)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-6 col-md-4">
														Actual
													</div>
													<div class="col-6 col-md-8">
														<span class="float-right">0.00 (USD)</span>
													</div>
												</div>

												<div class="mt-4 py-1">
													Limit Levels
													<a data-toggle="modal" data-target="#modalLimitLevel"><i class="fa fa-info-circle cursor-pointer open-modal-btn"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-lg-7">
										<div class="card margin-bottom-custom">
											<div class="card-body">
												<div class="row py-1">
													<div class="col-6 col-md-5">
														PO and INV Accruals
													</div>
													<div class="col-6 col-md-7">
														<span class="text-success float-right"> 0.00 (USD)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-6 col-md-5">
														Order Accrual
													</div>
													<div class="col-6 col-md-7">
														<span class="text-success float-right"> + 4.492.86 (USD)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-6 col-md-5">
														Freight Accrual
													</div>
													<div class="col-6 col-md-7">
														<span class="text-success float-right"> + 0.00 (USD)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-6 col-md-5">
														Projected Accrual
													</div>
													<div class="col-6 col-md-7">
														<span class="text-danger float-right border-top"> = 4.492.86 (USD)</span>
													</div>
												</div>
												<div class="row py-1">
													<div class="col-12 col-md-12">
														<span class="text-danger">Important:&nbsp; </span> Projected Accrual has exceeded the budget limit.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-body">
										<div class="card-title">Justification</div>
										<div class="row py-1">
											<div class="col-12 col-md-4">
												Reason
											</div>
											<div class="col-12 col-md-8">
												<select name="select" class="form-control form-control-sm">
													<option value="">Budget limit exceed </option>
													<option value="">No Budget Agreed </option>
													<option value="">No initial budget for this cost code </option>
													<option value="">Overbudget due to one—off high cost item not initially budgeted </option>
													<option value="">Owner Approved Expenditure </option>
													<option value="">Owners Request Supply </option>
													<option value="">Timing issue (End of year supply) </option>
												</select>
											</div>
										</div>
										<div class="row py-1">
											<div class="col-12 col-md-4">
												Description
											</div>
											<div class="col-12 col-md-8">
												<textarea class="form-control form-control-sm" rows="3"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<a id="cancel-btnAuthorizeQuote" href="/Order/Details" data-dismiss="modal" class="btn-shadow float-left btn btn-link">Cancel</a>
					<button type="button" id="prev-btnAuthorizeQuote" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>
					<button type="button" id="next-btnAuthorizeQuote" class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">Next</button>
					<button type="button" id="finish-btnAuthorizeQuote" data-dismiss="modal" class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary">Finish</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal-on-modal" id="modalSupplier" tabindex="-1" role="dialog" aria-labelledby="modalSupplier" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Supplier</h5>
					<button type="button" class="close close-modal-btn" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row py-1">
						<div class="col-12 col-md-12">
							<span class="font-weight-bold"> Wrist West Coast (Long Beach / Los Angeles)</span>
						</div>
					</div>

					<div class="row py-1">
						<div class="col-12 col-md-12">
							2835 Ana Street,
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-12">
							Rancho Dominguez CALIFORNIA CA 90221
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-12">
							United States
							<div class="flag US small ml-2 d-inline-block"></div>
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-4">
							Telephone
						</div>
						<div class="col-12 col-md-8">
							+1 51 04 44 72 00
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-4">
							Mobile
						</div>
						<div class="col-12 col-md-8">
							+1 51 08 99 89 56
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-4">
							Email
						</div>
						<div class="col-12 col-md-8">
							<a href="javascript:void(0);">westcoast@wrist.com </a>
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-4">
							Proc Type
						</div>
						<div class="col-12 col-md-8">
							MTML
						</div>
					</div>
					<div class="row py-1">
						<div class="col-12 col-md-4">
							Certified
						</div>
						<div class="col-12 col-md-8">
							No
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-modal-btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modal-on-modal" id="modalLimitLevel" tabindex="-1" role="dialog" aria-labelledby="modalLimitLevel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Limit Level</h5>
					<button type="button" class="close close-modal-btn" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Vessel Limit
						</div>
						<div class="col-7 col-md-7">
							No Limit
						</div>
					</div>
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Office Limit
						</div>
						<div class="col-7 col-md-7">
							10,000.00 (USD)
						</div>
					</div>
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Level 1 Limit
						</div>
						<div class="col-7 col-md-7">
							120,000.00 (USD)
						</div>
					</div>
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Level 2 Limit
						</div>
						<div class="col-7 col-md-7">
							500,000.00 (USD)
						</div>
					</div>
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Level 3 Limit
						</div>
						<div class="col-7 col-md-7">
							600,000.00 (USD)
						</div>
					</div>
					<div class="row py-1">
						<div class="col-5 col-md-5">
							Client limit
						</div>
						<div class="col-7 col-md-7">
							No Limit
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-modal-btn" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

}


@section ScriptSection
{
	<script src="~/assets/scripts/orderDetail.bundle.js"></script>
}

