<div class="card-title">Order Line Detail </div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Cost 
	</div>
	<div class="col-12 col-md-7">
		120.00 (USD) 
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Discount 
	</div>
	<div class="col-12 col-md-7">
		0.00 (USD)
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Net Cost 
	</div>
	<div class="col-12 col-md-7">
		120.00 (USD) 
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		All Items Quoted 
	</div>
	<div class="col-12 col-md-7">
		<span class="text-success">Yes</span>
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		No. of Order Lines 
	</div>
	<div class="col-12 col-md-7">
		6
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		No. of Zero Value Order Lines 
	</div>
	<div class="col-12 col-md-7">
		<span class="text-success">0</span>
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		No. of Order Line Supplier Qty Mismatch
	</div>
	<div class="col-12 col-md-7">
		<span class="text-success">0</span>
	</div>
</div>
