<div class="card-title">Quote Details</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Freight / Delivery Cost
	</div>
	<div class="col-12 col-md-7">
		0.00
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Discount
	</div>
	<div class="col-12 col-md-7">
		0.00%
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Proforma Requested
	</div>
	<div class="col-12 col-md-7">
		No
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Ex-Works Country
	</div>
	<div class="col-12 col-md-7">

	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Ex-Works Location
	</div>
	<div class="col-12 col-md-7">

	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Max. Ex-Works Days
	</div>
	<div class="col-12 col-md-7">
		20 Days
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Valid For
	</div>
	<div class="col-12 col-md-7">
		30 Days
	</div>
</div>
