<div class="card-title">Supplier Details</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Supplier Name
	</div>
	<div class="col-12 col-md-7">
		GLASS SERVICES 
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Currency 
	</div>
	<div class="col-12 col-md-7">
		USD 
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Supplier Reference 
	</div>
	<div class="col-12 col-md-7">
		BY EMAIL 
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Date Received 
	</div>
	<div class="col-12 col-md-7">
		21 Feb 2018
	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Port
	</div>
	<div class="col-12 col-md-7">

	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Hazardous Goods 
	</div>
	<div class="col-12 col-md-7">

	</div>
</div>
<div class="row py-1">
	<div class="col-12 col-md-5">
		Type of Spare Parts Supplied
	</div>
	<div class="col-12 col-md-7">
		-
	</div>
</div>
