<div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4">
        <label for="cboGeneral1AuxLookup" class="custom-label">General 1 <span class="BrushRed">*</span></label>
    </div>
    <div class="col-md-7 col-lg-7 col-xl-7">
        <select id="cboGeneral1AuxLookup" class="form-control">
            <option></option>
        </select>
    </div>
</div>
