<div id="divLookUpSearch">
    <input type="text" id="searchLookUp" placeholder="Type here to search" class="form-control" />
</div>

<div class="">
    <div id="divLookUpResult" class="scroller-listbox mt-3 p-0 common-custom-card mb-0">


    </div>
</div>

<div id="divSelectedLookUpResultTemplate" class="mt-3 p-0 common-custom-card mb-0">
    <button type="button" class="close removeSelection float-none" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="divSelectedLookUpResult" class="">

    </div>
</div>
