@{

    Layout = "~/Views/Shared/base.cshtml";
}

@section Title
{
    Error
}

@section ContentSection
{
    <div class="app-main__outer">
        <div class="app-main__inner background-padding new-background common-border-radius mobile-tab-bottom-padding padding-top-20">
            <div class="app-page-title header-shadow">
                <div class="page-title-wrapper">
                    <div class="margin-left-35 w-75">
                        Error
                    </div>
                </div>
            </div>
            <div class="content-pane">
                <div class="row">
                    Something went wrong. Please try again after some time.
                </div>
            </div>
        </div>
    </div>

}
