<div class="app-header">
    <partial name="logo" />
    <div class="app-header__content">
        <div class="app-header-left">
            <partial name="header-left" />
        </div>
        <div class="app-header-right">
            <partial name="header-right" />
        </div>
    </div>
</div>

<div class="app-header app-header-mobile">
    <div class="d-flex w-100 large-screen">
     
        <partial name="logo" />
        <div class="app-header__content">
            <div class="app-header-left">
                <partial name="header-left" />
            </div>
            <div class="app-header-right">
                <partial name="header-right" />
            </div>
        </div>
    </div>
</div>