@{
    Layout = "~/Views/Shared/base.cshtml";
}

@section Title
{
    Access Denied
}

@section ContentSection
{
    <div class="app-main__outer fixed-page-header">
        <div class="app-main__inner background-padding new-background common-border-radius mobile-tab-bottom-padding">
            <div class="content-pane">
                <h1>Access denied.</h1>
            </div>
        </div>
    </div>
}


@section ScriptSection
{
    <script src="~/assets/scripts/moduleAccessDenied.bundle.js"></script>
}
