<div class="row">
	<div class="col-12 col-md-7 order-2 order-md-1">
		<div id="navigationTree"></div>
	</div>
	<div class="col-12 col-md-5 order-1 order-md-2 text-left text-md-right">
		<button class="btn btn-dark-green text-white btn-addaction position-relative staticbutton mt-0 mb-3 mb-md-0" id="btnOpenManageUserFleet" data-toggle="modal" data-target="#modalManageUserFleet" ontouchstart>Manage Favourites</button>
	</div>
</div>