@*<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="{{ htmlWebpackPlugin.options.heading_icon }}"></i>
            </div>
            <div>
                {{ htmlWebpackPlugin.options.title }}
                Sichem Amethyst
                  <div class="page-title-subheading">Description{{ htmlWebpackPlugin.options.description }}</div>
            </div>
        </div>
        <partial name="page-title-actions" />
    </div>
</div>*@